button {
    position: relative;
    border: none;
    transition: .4s ease-in;
    z-index: 1;
    width: 140px;
    height: 60px;
}

button::before, button::after {
    position: absolute;
    content: "";
    z-index: -1;
}

div {
    width: fit-content;
    margin: 50px auto;
    display: flex;
    gap: 20px;
}

.btn-1:hover {
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
}

.btn-2:hover {
    box-shadow: inset -10.5em 0 0 0 #ff96ad, inset 10.5em 0 0 0 #ff96ad;
}

.btn-3::after {
    height: 0;
    left: 0;
    top: 0;
    transition-duration: 0.6s;
    width: 100%;
}
.btn-3:hover::after {
    height: 100%;
}

